################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NExpandableListView/NExpandableListView/obj/Debug
/NExpandableListView/NExpandableListView/NExpandableListView.csproj.user
/NExpandableListView/NExpandableListView/bin/Debug
/NExpandableListView/.vs/NExpandableListView/v14/.suo
